
.fl{
    float: left;
    display: inline-block;
}
.fr{
    float: right;
    display: inline-block;
}
.blue{
    color: #0275d8;
}
.home_red{
    color: #d9736a;
}
.color_999{
    color: #999;
}
.color_666{
    color: #666;
}
.color_333{
    color: #333;
}